{% extends 'core/base.html' %}

{% block title %} Crossfit PRs App {% endblock title %}


{% block content %}
    <h2 class="mb-12 text-2xl text-center"> Search </h2>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <div class= "grid grid-cols-1 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'edit' item.id %}">
                        <div class="p-6 bg-white rounded-xl shadow-lg">
                            <h2 class="text-2xl">{{ item.name }} - {{ item.personal_record }} kg</h2>
                            <p class="text-black-500">{{ item.pr_date|date:"d/m/Y" }} </p>
                            <p class="text-gray-500">Obs: {{ item.observation }} </p>
                            <p class="text-center text-violet-600 font-medium">EDIT</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock  %}