{% extends 'core/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="my-6 mx-auto p-6 bg-gray-100 rounded-xl max-w-md">
    <h1 class="mb-8 text-3xl text-center">Login</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.non_field_errors }}
        
        <div class="relative float-label-input mb-6">
            {{ form.username }}
            {% comment %} <input type="text" id="name" placeholder=" " class="block w-full bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-md py-3 px-3 block appearance-none leading-normal focus:border-blue-400"> {% endcomment %}
            <label for="name" class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 px-2 text-grey-darker">Username</label>
        </div>

        {% comment %} <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div> {% endcomment %}

        <div class="relative float-label-input mb-6">
            {{ form.password }}
            {% comment %} <input type="text" id="name" placeholder=" " class="block w-full bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-md py-3 px-3 block appearance-none leading-normal focus:border-blue-400"> {% endcomment %}
            <label for="name" class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 px-2 text-grey-darker">Password</label>
        </div>
                

        {% comment %} <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div> {% endcomment %}

        <div class="text-center">
            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </div>
<div/>
<br>
<br>
<div class="flex items-center justify-center">
    <a href="{% url 'core:signup' %}">Or <strong>SIGN UP</strong></a>
</div>
<br>
{% if form.errors or form.non_field_errors %}
<div class="mb-3 p-6 bg-red-100 rounded-xl">
    {% for field in form %}
        {{ field.errors }}
    {% endfor %}

    {{form.non_field_errors}}
</div>
{% endif %}
{% endblock content %}